body {
    background: var(--gradient-background);
}
sticky-header {
    background: transparent;
    padding: 16px;
}
header {
    padding: 10px 1rem;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 100px;
    max-width: 100%;
}
@media screen and (min-width: 990px) {
    header.header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header.header:not(.drawer-menu).page-width {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}