
sticky-header {
    background: transparent;
    padding: 16px;
}
header {
    padding: 10px 1rem;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 100px;
    max-width: 100%;
}
.header-wrapper {
    background-color: transparent !important;
}
@media screen and (min-width: 990px) {
    header.header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header.header:not(.drawer-menu).page-width {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
.product-grid .grid__item {
  background-color: #FFF;
  border-radius: 16px;
  box-shadow: 2px 4px 12px #00000014;
}